{extend name="layout/layout"}

{block name="css"}

{/block}


{block name="title"}
权限管理
{/block}

{block name="page-head"}
<!-- page heading start-->
<div class="page-heading">
    <div class="panel-body">
        <h3>
            权限管理
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">权限管理</a>
            </li>
            <li class="active"> 权限列表 </li>
        </ul>
        <br>
        <a href="{:url('permission/insert')}"><input type="button" class="btn btn-success" value="添加"></a>
    </div>

</div>
<!-- page heading end-->
{/block}


{block name="content"}
<div class="row">
    <div class="col-sm-12">

            <div class="panel-body">

                    <table  class="table table-invoice table-bordered table-hover" id="dynamic-table">
                        <thead>
                        <tr class="text-center">
                            <td>编号</td>
                            <td>权限名称</td>
                            <td>访问路由</td>
                            <td class="hidden-phone">操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        {if condition="empty($lists)"}
                            <tr>
                                <td colspan="9">暂无数据</td>
                            </tr>
                        {/if}
                        {volist name="lists" id="li"}
                        <tr class="text-center">

                            <td>{$li.id}</td>
                            <td>
                                {for start="1" end="$li.level"}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                {/for}
                                {$li.name}
                            </td>
                            <td>
                                {$li.rute}
                            </td>
                            <td class="hidden-phone">
                                <input type="button" class="btn btn-danger delete" data-id="{$li.id}" value="删除">&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{:url('/admin/permission/edit')}?id={$li.id}"><input type="button" class="btn btn-info edit" data-id="{$li.id}" value="编辑"></a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>

            </div>

    </div>
</div>

{/block}


{block name="js"}
<script>
    $(function () {

        $('.delete').click(function () {

            var id = $(this).attr('data-id');
            $.ajax({'type':'post','dataType':'json','url':location.protocol+'//'+window.location.host+'/admin/permission/delete',
                'data':{'id':id},
                'success':function (e) {
                    if(e.status === 1){
                        $(this).parent().parent().remove();
                        layer.msg('删除成功');
                    }
                }.bind(this)
            })
        })
    })
</script>
{/block}