<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>登录</title>

    <link href="admin_css/style.css" rel="stylesheet">
    <link href="admin_css/style-responsive.css" rel="stylesheet">
    <link href="admin_layer/layer/layer.css" rel="stylesheet">
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" action="index.html">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">客服支持系统后台登录</h1>
            <img src="admin_image/login-logo.png" alt=""/>
        </div>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="用户名" autofocus name="username">
            <input type="password" class="form-control" placeholder="密码" name="password">

            <button class="btn btn-lg btn-login btn-block" type="button" id="submit">
                <i class="fa fa-check"></i>
            </button>
            <label class="checkbox">
                <input type="checkbox" value="1" name="remember"> 记住我
            </label>
        </div>

    </form>

</div>



<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="admin_js/jquery-1.10.2.min.js"></script>
<script src="admin_js/bootstrap.min.js"></script>
<script src="admin_js/login.js"></script>
<script src="admin_layer/layer/layer.js"></script>

</body>
</html>
